body {
    font-family: 'Rubik', sans-serif;
    background: hsl(270, 20%, 96%);
}

.smartphone {
    background: hsl(0, 0%, 100%);
    padding: 0.75rem;
    height: 500px;
    width: 250px;
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
        content: '';
        position: absolute;
        top: 0.75rem;
        left: 50%;
        height: 1.25rem;
        width: 50%;
        transform: translateX(-50%);
        background: hsl(0, 0%, 100%);
        border-radius: 0 0 1rem 1rem;
    }
}

.app-header {
    height: 65px;
    background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-radius: 1.25rem 1.25rem 0.25rem 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 1.25rem 1rem 0 1rem;
}

.arrow-left-icon {
    border-width: 2px 0 0 2px;
    border-color: #f1d7f8;
    border-style: solid;
    width: 4px;
    height: 4px;
    transform: rotate(-45deg);
}

.avatar {
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #f1d7f8;
}

.user {
    color: #f1d7f8;
    font-weight: 500;
    font-size: 0.9rem;
}

.status {
    color: hsl(276, 100%, 81%);
    font-size: 0.5rem;
}

.ellipsis-icon {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-left: auto;

    div {
        border-radius: 50%;
        width: 3px;
        height: 3px;
        background: #ffaeff;
    }
}


.app-content {
    background: hsl(270, 20%, 96%);
    border-radius: 0 0 1.25rem 1.25rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.message {
    font-size: 0.5rem;
    padding: 0.5rem;
    max-width: 50%;

    &-left {
        background: #ede5f4;
        color: hsl(276, 55%, 52%);
        border-radius: 0.5rem 0.5rem 0.5rem 0.25rem;
    }

    &-right {
        background: #fff;
        color: hsl(271, 15%, 43%);
        border-radius: 0.5rem 0.5rem 0.25rem 0.5rem;
        align-self: flex-end;
    }

    &-images {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        max-width: unset;
        padding: 0;

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.5rem;
        }
    }

    &-left + &-images, &-left + &-right {
        margin-top: 0.5rem;
    }

    &-right + &-left {
        margin-top: 0.5rem;
    }
}
